<nav>
    <a routerLink="/hackernews" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hacker News</a>
    <a routerLink="/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">New</a>
    <a routerLink="/past" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Past</a>
    <a routerLink="/ask" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ask</a>
    <a routerLink="/show" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Show</a>
    <a routerLink="/job" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Jobs</a>
</nav>

<router-outlet></router-outlet>
