<nav>
    <a routerLink="/hackernews/topstories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hacker News</a>
    <a routerLink="/hackernews/newstories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">New</a>
    <a routerLink="/hackernews/paststories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Past</a>
    <a routerLink="/hackernews/askstories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ask</a>
    <a routerLink="/hackernews/showstories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Show</a>
    <a routerLink="/hackernews/jobstories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Jobs</a>
</nav>

<router-outlet></router-outlet>
